<div class="comments__form-item comments__form-item--full-width">
  <span class="form__label form__label--required">Rate file</span>
  <div class="stars">
    <input class="stars__input visually-hidden" type="radio" name="rating" value="5" id="five-star" data-field="rating">
    <label class="stars__item" for="five-star">
      <span class="visually-hidden">Five star</span>
      <svg class="stars__icon" width="33" height="33" aria-hidden="true">
        <use xlink:href="#inline-empty-star"></use>
      </svg>
    </label>
    <input class="stars__input visually-hidden" type="radio" name="rating" value="4" id="four-star" data-field="rating">
    <label class="stars__item" for="four-star">
      <span class="visually-hidden">Four star</span>
      <svg class="stars__icon" width="33" height="33" aria-hidden="true">
        <use xlink:href="#inline-empty-star"></use>
      </svg>
    </label>
    <input class="stars__input visually-hidden" type="radio" name="rating" value="3" id="three-star" data-field="rating">
    <label class="stars__item" for="three-star">
      <span class="visually-hidden">Three star</span>
      <svg class="stars__icon" width="33" height="33" aria-hidden="true">
        <use xlink:href="#inline-empty-star"></use>
      </svg>
    </label>
    <input class="stars__input visually-hidden" type="radio" name="rating" value="2" id="two-star" data-field="rating">
    <label class="stars__item" for="two-star">
      <span class="visually-hidden">Two star</span>
      <svg class="stars__icon" width="33" height="33" aria-hidden="true">
        <use xlink:href="#inline-empty-star"></use>
      </svg>
    </label>
    <input class="stars__input visually-hidden" type="radio" name="rating" value="1" id="one-star" data-field="rating">
    <label class="stars__item" for="one-star">
      <span class="visually-hidden">One star</span>
      <svg class="stars__icon" width="33" height="33" aria-hidden="true">
        <use xlink:href="#inline-empty-star"></use>
      </svg>
    </label>
  </div>
  <span class="val_error val_error--active">Please rate this course.</span>
</div>