<section class="block@@if (context.classes) {@@classes}">
  <h3 class="heading heading--mb-large">Top CompTIA Exams</h3>
  <ul class="sidebar__block-border sidebar__block-border--mobile list list--links">
    <li class="list__item"><a href="#">SY0-501</a></li>
    <li class="list__item"><a href="#">N10-007</a></li>
    <li class="list__item"><a href="#">CAS-003</a></li>
    <li class="list__item"><a href="#">220-1001</a></li>
    <li class="list__item"><a href="#">220-1002</a></li>
    <li class="list__item"><a href="#">CS0-001</a></li>
    <li class="list__item"><a href="#">XK0-004</a></li>
    <li class="list__item"><a href="#">CV0-002</a></li>
    <li class="list__item"><a href="#">PK0-004</a></li>
    <li class="list__item"><a href="#">PT0-001</a></li>
    <li class="list__item"><a href="#">AWS Certified Solutions Architect - Associate</a></li>
    <li class="list__item"><a href="#">AWS Certified Cloud Practitioner</a></li>
    <li class="list__item"><a href="#">AWS Certified Solutions Architect - Professional</a></li>
    <li class="list__item"><a href="#">AWS-SysOps</a></li>
    <li class="list__item"><a href="#">AWS Certified Advanced Networking - Specialty</a></li>
    <li class="list__item"><a href="#">AWS Certified Developer Associate</a></li>
  </ul>
</section>