<section class="block@@if (context.classes) {@@classes}">
  <h3 class="heading heading--mb-large">Purchase Individually</h3>
  <ul class="sidebar__block-border individually list">
    <li class="individually__item">
      <div class="individually__column">
        <h4 class="individually__title heading">Premium File</h4>
        <p class="individually__details text">734 Questions & Answers</p>
        <p class="individually__details text">Last Update: May 10, 2020</p>
        <a class="individually__button button button--secondary button--secondary--small" src="#">Download</a>
      </div>
      <picture class="individually__image-container">
        <img class="individually__image lazyload" data-src="images/dev/file-qa.png" src="images/dev/file-qa.png" alt="Product">
      </picture>
    </li>
    <li class="individually__item">
      <div class="individually__column">
        <h4 class="individually__title heading">Training Course</h4>
        <p class="individually__details text">222 Lectures</p>
        <a class="individually__button button button--secondary button--secondary--small" src="#">Watch</a>
      </div>
      <picture class="individually__image-container">
        <img class="individually__image lazyload" data-src="images/dev/file-lab.png" src="images/dev/file-lab.png" alt="Product">
      </picture>
    </li>
    <li class="individually__item">
      <div class="individually__column">
        <h4 class="individually__title heading">Study Guide</h4>
        <p class="individually__details text">655 Pages</p>
        <a class="individually__button button button--secondary button--secondary--small" src="#">Download</a>
      </div>
      <picture class="individually__image-container">
        <img class="individually__image lazyload" data-src="images/dev/file-sg.png" src="images/dev/file-sg.png" alt="Product">
      </picture>
    </li>
  </ul>
</section>