<div class="@@if (context.element) {@@element}search@@if (context.classes) {@@classes}">
  <form id="openingSearch" class="search__form form" action="#" method="get">
    <p class="form__field-wrapper">
      <label for="additional-search-field"><span class="visually-hidden">Search</span></label>
      <input id="additional-search-field" class="search__field form__field form__field--secondary" type="search" name="q"
        placeholder="Search">
      <button class="search__submit button" type="submit">Search</button>
    </p>
  </form>
</div>