<article class="vce@@if (context.classes) {@@classes}">
  <h2 class="visually-hidden">VCE player</h2>
  <div class="vce__header">
    <img class="vce__header-image lazyload" data-src="images/avanset-logo.png" src="images/avanset-logo.png" alt="Avanset" width="171" height="34">
  </div>
  <div class="vce__body">
    <a class="vce__link link link--large link--invert" href="#">How to Open VCE Files</a>
    <p class="vce__text">
      <strong class="vce__agitation-text">You need Avanset VCE Player in Order to Open VCE Files!</strong>
      <span class="vce__text-simple">Use <a class="link link--invert" href="#">VCE Exam Simulator</a> to open VCE files</span>
    </p>
    <a class="vce__block-link" href="#">
      <img class="vce_block-link-image lazyload" data-src="images/dev/avanset-img.jpg" src="images/dev/avanset-img.jpg" alt="Avanset Simulator Screenshot">
    </a>
    <ul class="vce__list list">
      <li class="vce__item">
        <button class="vce__button button button--tertiary button--tertiary--green js-free-demo-button" type="button">Sign Up <span class="vce__button-text-color button__text-color">Free Demo</span></button>
      </li>
      <li class="vce__item">
        <a class="vce__button button button--tertiary button--tertiary--yellow" href="#">Learn More</a>
      </li>
      <li class="vce__item">
        <a class="vce__button button button--tertiary button--tertiary--blue" href="#">Full Version</a>
      </li>
    </ul>
  </div>
</article>