<footer class="page-footer">
  <div class="page-footer__logo-container show-0-768">
    <picture class="page-footer__logo-wrapper">
      <img class="page-footer__logo" src="images/logo.png" srcset="images/logo@2x.png 2x" alt="Exam Labs">
    </picture>
  </div>
  <div class="page-footer__container">
    <div class="container">
      <p class="page-footer__copyrights">© 2020 Exam-labs.com</p>
      <ul class="footer-links list">
        <li class="footer-links__item">
          <a class="footer-links__link" href="all-vendors.html">Certification Providers</a>
        </li>
        <li class="footer-links__item">
          <a class="footer-links__link" href="contacts.html">Contact</a>
        </li>
        <li class="footer-links__item">
          <a class="footer-links__link" href="https://www.facebook.com/examlabs">Facebook</a>
        </li>
        <li class="footer-links__item">
          <a class="footer-links__link" href="upload.html">Upload VCE File</a>
        </li>
        <li class="footer-links__item">
          <a class="footer-links__link" href="faq.html">FAQ</a>
        </li>
        <li class="footer-links__item">
          <a class="footer-links__link" href="privacy.html">Privacy Policy</a>
        </li>
        <li class="footer-links__item">
          <a class="footer-links__link" href="request.html">Request Exam</a>
        </li>
        <li class="footer-links__item">
          <a class="footer-links__link" href="discussion.html">Discussion</a>
        </li>
        <li class="footer-links__item">
          <a class="footer-links__link" href="terms.html">Terms & Conditions</a>
        </li>
        <li class="footer-links__item">
          <a class="footer-links__link" href="archive.html">Archive</a>
        </li>
        <li class="footer-links__item">
          <a class="footer-links__link" href="https://www.exam-labs.com/blog/">Blog</a>
        </li>
      </ul>
      <picture class="page-footer__labels">
        <img class="lazyload" data-src="images/other/ddd.png" src="images/other/ddd.png" alt="We accept VISA, MasterCard, Maestro, American Express">
      </picture>
      <p class="page-footer__signature">Exam-Labs.com is owned by Boltprep Ltd: Wisteria Grange Barn, Pikes End, Pinner, Middlesex, United Kingdom, HA5 2EX</p>
    </div>
  </div>
</footer>