<section class="hot hot--sidebar">
  <h2 class="hot__heading heading heading--mb-large">Amazon Certifications</h2>
  <ul class="hot__list list">
    <li class="hot__item">
      <a class="hot__link" href="certification.html">
        <picture class="hot__image-wrapper">
          <img class="hot__image lazyload" data-src="images/dev/comptia-security-plus.png" data-srcset="images/dev/comptia-security-plus@2x.png 2x" src="images/dev/comptia-security-plus.png" alt="CompTIA Security+ Exams"
            title="CompTIA Security+ Exams">
        </picture>
      </a>
    </li>
    <li class="hot__item">
      <a class="hot__link" href="certification.html">
        <picture class="hot__image-wrapper">
          <img class="hot__image lazyload" data-src="images/dev/microsoft-certified-azure-solutions-architect-expert.png" data-srcset="images/dev/microsoft-certified-azure-solutions-architect-expert@2x.png 2x" src="images/dev/microsoft-certified-azure-solutions-architect-expert.png" alt="CCNA Routing and Switching Exams" title="CCNA Routing and Switching Exams">
        </picture>
      </a>
    </li>
    <li class="hot__item">
      <a class="hot__link" href="certification.html">
        <picture class="hot__image-wrapper">
          <img class="hot__image lazyload" data-src="images/dev/rhce.png" data-srcset="images/dev/rhce@2x.png 2x" src="images/dev/rhce.png" alt="CCNP Routing and Switching Exams" title="CCNP Routing and Switching Exams">
        </picture>
      </a>
    </li>
    <li class="hot__item">
      <a class="hot__link" href="certification.html">
        <picture class="hot__image-wrapper">
          <img class="hot__image lazyload" data-src="images/dev/comptia-security-plus.png" data-srcset="images/dev/comptia-security-plus@2x.png 2x" src="images/dev/comptia-security-plus.png" alt="MCSA Exams" title="MCSA Exams">
        </picture>
      </a>
    </li>
    <li class="hot__item">
      <a class="hot__link" href="certification.html">
        <picture class="hot__image-wrapper">
          <img class="hot__image lazyload" data-src="images/dev/comptia-security-plus.png" data-srcset="images/dev/comptia-security-plus@2x.png 2x" src="images/dev/comptia-security-plus.png" alt="CompTIA A+ Exams" title="CompTIA A+ Exams">
        </picture>
      </a>
    </li>
    <li class="hot__item">
      <a class="hot__link" href="certification.html">
        <picture class="hot__image-wrapper">
          <img class="hot__image lazyload" data-src="images/dev/comptia-security-plus.png" data-srcset="images/dev/comptia-security-plus@2x.png 2x" src="images/dev/comptia-security-plus.png" alt="CompTIA Network+ Exams" title="CompTIA Network+ Exams">
        </picture>
      </a>
    </li>
    <li class="hot__item">
      <a class="hot__link" href="certification.html">
        <picture class="hot__image-wrapper">
          <img class="hot__image lazyload" data-src="images/dev/comptia-security-plus.png" data-srcset="images/dev/comptia-security-plus@2x.png 2x" src="images/dev/comptia-security-plus.png" alt="CISSP Exams" title="CISSP Exams">
        </picture>
      </a>
    </li>
    <li class="hot__item">
      <a class="hot__link" href="certification.html">
        <picture class="hot__image-wrapper">
          <img class="hot__image lazyload" data-src="images/dev/comptia-security-plus.png" data-srcset="images/dev/comptia-security-plus@2x.png 2x" src="images/dev/comptia-security-plus.png" alt="CEH Exams" title="CEH Exams">
        </picture>
      </a>
    </li>
    <li class="hot__item">
      <a class="hot__link" href="certification.html">
        <picture class="hot__image-wrapper">
          <img class="hot__image lazyload" data-src="images/dev/comptia-security-plus.png" data-srcset="images/dev/comptia-security-plus@2x.png 2x" src="images/dev/comptia-security-plus.png" alt="CCNA Security Exams" title="CCNA Security Exams">
        </picture>
      </a>
    </li>
    <li class="hot__item">
      <a class="hot__link" href="certification.html">
        <picture class="hot__image-wrapper">
          <img class="hot__image lazyload" data-src="images/dev/comptia-security-plus.png" data-srcset="images/dev/comptia-security-plus@2x.png 2x" src="images/dev/comptia-security-plus.png" alt="CASP Exams" title="CASP Exams">
        </picture>
      </a>
    </li>
    <li class="hot__item">
      <a class="hot__link" href="certification.html">
        <picture class="hot__image-wrapper">
          <img class="hot__image lazyload" data-src="images/dev/comptia-security-plus.png" data-srcset="images/dev/comptia-security-plus@2x.png 2x" src="images/dev/comptia-security-plus.png" alt="MCSD Exams" title="MCSD Exams">
        </picture>
      </a>
    </li>
    <li class="hot__item">
      <a class="hot__link" href="certification.html">
        <picture class="hot__image-wrapper">
          <img class="hot__image lazyload" data-src="images/dev/comptia-security-plus.png" data-srcset="images/dev/comptia-security-plus@2x.png 2x" src="images/dev/comptia-security-plus.png" alt="CCNA Collaboration Exams" title="CCNA Collaboration Exams">
        </picture>
      </a>
    </li>
    <li class="hot__item">
      <a class="hot__link" href="certification.html">
        <picture class="hot__image-wrapper">
          <img class="hot__image lazyload" data-src="images/dev/comptia-security-plus.png" data-srcset="images/dev/comptia-security-plus@2x.png 2x" src="images/dev/comptia-security-plus.png" alt="CCIE Routing and Switching Exams" title="CCIE Routing and Switching Exams">
        </picture>
      </a>
    </li>
    <li class="hot__item">
      <a class="hot__link" href="certification.html">
        <picture class="hot__image-wrapper">
          <img class="hot__image lazyload" data-src="images/dev/comptia-security-plus.png" data-srcset="images/dev/comptia-security-plus@2x.png 2x" src="images/dev/comptia-security-plus.png" alt="AWS Certified Solutions Architect - Associate Exams" title="AWS Certified Solutions Architect - Associate Exams">
        </picture>
      </a>
    </li>
    <li class="hot__item">
      <a class="hot__link" href="certification.html">
        <picture class="hot__image-wrapper">
          <img class="hot__image lazyload" data-src="images/dev/comptia-security-plus.png" data-srcset="images/dev/comptia-security-plus@2x.png 2x" src="images/dev/comptia-security-plus.png" alt="CompTIA Linux+ Exams" title="CompTIA Linux+ Exams">
        </picture>
      </a>
    </li>
    <li class="hot__item">
      <a class="hot__link" href="certification.html">
        <picture class="hot__image-wrapper">
          <img class="hot__image lazyload" data-src="images/dev/comptia-security-plus.png" data-srcset="images/dev/comptia-security-plus@2x.png 2x" src="images/dev/comptia-security-plus.png" alt="PMP Exams" title="PMP Exams">
        </picture>
      </a>
    </li>
  </ul>
</section>