<section class="hot-sidebar@@if (context.classes) { @@classes}">
  <h2 class="hot-sidebar__heading heading">Hot Training Courses</h2>
  <a class="hot-sidebar__link-all show-0-768" href="#">See All</a>
  <div class="hot-sidebar__list-wrapper swiper-container">
    <ul class="hot-sidebar__list list swiper-wrapper">
      <li class="hot-sidebar__item hot-sidebar__item--access swiper-slide">
        <a class="hot-sidebar__link" href="videocourse-paid.html">
          <picture class="hot-sidebar__image-wrapper">
            <img class="hot-sidebar__image lazyload" data-src="images/courses/4582.jpg" data-srcset="images/courses/4582@2x.jpg 2x" src="images/courses/4582.jpg" alt="Image">
          </picture>
          <div class="hot-sidebar__content-wrapper">
            <p class="hot-sidebar__price">Purchased</p>
            <div class="hot-sidebar__description">
              <span class="hot-sidebar__code">3V0-624</span>
              <h3 class="hot-sidebar__title">VMware Certified Advanced Professional 6.5 - Data Center Virtualization Design</h3>
            </div>
            <ul class="hot-sidebar__details-list list">
              <li class="hot-sidebar__details-item">
                <h4 class="hot-sidebar__details-title">Students</h4>
                <p class="hot-sidebar__details-text">108</p>
              </li>
              <li class="hot-sidebar__details-item">
                <h4 class="hot-sidebar__details-title">Duration</h4>
                <p class="hot-sidebar__details-text">3h</p>
              </li>
              <li class="hot-sidebar__details-item">
                <h4 class="hot-sidebar__details-title">Rating</h4>
                <div class="hot-sidebar__details-rating">
                  <ul class="hot-sidebar__stars-list list">
                    <li class="hot-sidebar__stars-item"></li>
                    <li class="hot-sidebar__stars-item"></li>
                    <li class="hot-sidebar__stars-item"></li>
                    <li class="hot-sidebar__stars-item"></li>
                    <li class="hot-sidebar__stars-item"></li>
                  </ul>
                  <p class="hot-sidebar__details-text">4.4 (85)</p>
                </div>
              </li>
            </ul>
          </div>
        </a>
      </li>
      <li class="hot-sidebar__item swiper-slide">
        <a class="hot-sidebar__link" href="videocourse-paid.html">
          <picture class="hot-sidebar__image-wrapper">
            <img class="hot-sidebar__image lazyload" data-src="images/courses/126.jpg" data-srcset="images/courses/126@2x.jpg 2x" src="images/courses/126.jpg" alt="Image">
          </picture>
          <div class="hot-sidebar__content-wrapper">
            <p class="hot-sidebar__price">$19.99</p>
            <div class="hot-sidebar__description">
              <span class="hot-sidebar__code">ITILFND</span>
              <h3 class="hot-sidebar__title">ITIL Foundation</h3>
            </div>
            <ul class="hot-sidebar__details-list list">
              <li class="hot-sidebar__details-item">
                <h4 class="hot-sidebar__details-title">Students</h4>
                <p class="hot-sidebar__details-text">432</p>
              </li>
              <li class="hot-sidebar__details-item">
                <h4 class="hot-sidebar__details-title">Duration</h4>
                <p class="hot-sidebar__details-text">8h</p>
              </li>
              <li class="hot-sidebar__details-item">
                <h4 class="hot-sidebar__details-title">Rating</h4>
                <div class="hot-sidebar__details-rating">
                  <ul class="hot-sidebar__stars-list list">
                    <li class="hot-sidebar__stars-item"></li>
                    <li class="hot-sidebar__stars-item"></li>
                    <li class="hot-sidebar__stars-item"></li>
                    <li class="hot-sidebar__stars-item"></li>
                  </ul>
                  <p class="hot-sidebar__details-text">4.4 (74)</p>
                </div>
              </li>
            </ul>
          </div>
        </a>
      </li>
      <li class="hot-sidebar__item swiper-slide">
        <a class="hot-sidebar__link" href="videocourse-paid.html">
          <picture class="hot-sidebar__image-wrapper">
            <img class="hot-sidebar__image lazyload" data-src="images/courses/5200.jpg" data-srcset="images/courses/5200@2x.jpg 2x" src="images/courses/5200.jpg" alt="Image">
          </picture>
          <div class="hot-sidebar__content-wrapper">
            <p class="hot-sidebar__price">$19.99</p>
            <div class="hot-sidebar__description">
              <span class="hot-sidebar__code">Professional Data Engineer</span>
              <h3 class="hot-sidebar__title">Professional Data Engineer on Google Cloud Platform</h3>
            </div>
            <ul class="hot-sidebar__details-list list">
              <li class="hot-sidebar__details-item">
                <h4 class="hot-sidebar__details-title">Students</h4>
                <p class="hot-sidebar__details-text">86</p>
              </li>
              <li class="hot-sidebar__details-item">
                <h4 class="hot-sidebar__details-title">Duration</h4>
                <p class="hot-sidebar__details-text">27h</p>
              </li>
              <li class="hot-sidebar__details-item">
                <h4 class="hot-sidebar__details-title">Rating</h4>
                <div class="hot-sidebar__details-rating">
                  <ul class="hot-sidebar__stars-list list">
                    <li class="hot-sidebar__stars-item"></li>
                    <li class="hot-sidebar__stars-item"></li>
                    <li class="hot-sidebar__stars-item"></li>
                    <li class="hot-sidebar__stars-item"></li>
                  </ul>
                  <p class="hot-sidebar__details-text">4.4 (76)</p>
                </div>
              </li>
            </ul>
          </div>
        </a>
      </li>
      <li class="hot-sidebar__item swiper-slide">
        <a class="hot-sidebar__link" href="videocourse-paid.html">
          <picture class="hot-sidebar__image-wrapper">
            <img class="hot-sidebar__image lazyload" data-src="images/courses/8287.jpg" data-srcset="images/courses/8287@2x.jpg 2x" src="images/courses/8287.jpg" alt="Image">
          </picture>
          <div class="hot-sidebar__content-wrapper">
            <p class="hot-sidebar__price">$19.99</p>
            <div class="hot-sidebar__description">
              <span class="hot-sidebar__code">70-467</span>
              <h3 class="hot-sidebar__title">Designing Business Intelligence Solutions with Microsoft SQL Server 2012</h3>
            </div>
            <ul class="hot-sidebar__details-list list">
              <li class="hot-sidebar__details-item">
                <h4 class="hot-sidebar__details-title">Students</h4>
                <p class="hot-sidebar__details-text">131</p>
              </li>
              <li class="hot-sidebar__details-item">
                <h4 class="hot-sidebar__details-title">Duration</h4>
                <p class="hot-sidebar__details-text">4h</p>
              </li>
              <li class="hot-sidebar__details-item">
                <h4 class="hot-sidebar__details-title">Rating</h4>
                <div class="hot-sidebar__details-rating">
                  <ul class="hot-sidebar__stars-list list">
                    <li class="hot-sidebar__stars-item"></li>
                    <li class="hot-sidebar__stars-item"></li>
                    <li class="hot-sidebar__stars-item"></li>
                    <li class="hot-sidebar__stars-item"></li>
                    <li class="hot-sidebar__stars-item"></li>
                  </ul>
                  <p class="hot-sidebar__details-text">4.4 (84)</p>
                </div>
              </li>
            </ul>
          </div>
        </a>
      </li>
    </ul>
    <button class="hot-sidebar__slider-button button button--slider button--slider--prev" type="button"><span
        class="visually-hidden">Previous</span></button>
    <button class="hot-sidebar__slider-button button button--slider button--slider--next" type="button"><span
        class="visually-hidden">Next</span></button>
  </div>
</section>