<section class="sidebar__block-border testimonials">
  <h3 class="visually-hidden">Exam-Labs Testimonials</h3>
  <ul class="testimonials__list list">
    <li class="testimonials__item">
      <blockquote class="testimonials__block">
        <q class="testimonials__quote text text--grey text--lineheight">I think I can say this program has become my hobby. But I also get money for doing it! I just provide my colleagues with study materials they need and have profit from this. Well, everyone wins!</q>
        <cite class="testimonials__author text text--grey text--lineheight text--semibold">Sophia Olsson, Database administrator</cite>
      </blockquote>
    </li>
    <li class="testimonials__item">
      <blockquote class="testimonials__block">
        <q class="testimonials__quote text text--grey text--lineheight">I did not believe my friend when she told me about earning with Exam-Labs reseller program but this is real! It was so simple to start and didn't require any fees. So now I'm happy to have such a handy source of extra income.</q>
        <cite class="testimonials__author text text--grey text--lineheight text--semibold">Leo S., IT Support Manager</cite>
      </blockquote>
    </li>
    <li class="testimonials__item">
      <blockquote class="testimonials__block">
        <q class="testimonials__quote text text--grey text--lineheight">Wow! Today I made my 17th sale and gained the new level! Now I'll get 30% commission just because people use my promo link. Really, if you read this, I don't know why you still haven't registered for this and I highly recommend you to join.</q>
        <cite class="testimonials__author text text--grey text--lineheight text--semibold">Zoey Martinez, Cloud consultant</cite>
      </blockquote>
    </li>
    <li class="testimonials__item">
      <blockquote class="testimonials__block">
        <q class="testimonials__quote text text--grey text--lineheight">It is so impressive for me that now I have an extra pay from my website just by adding a dozen of links in it. Wherever I am, I get money from people all over the world as a commission while they use these links. Big thanks to Exam-Labs!</q>
        <cite class="testimonials__author text text--grey text--lineheight text--semibold">Ethan M. Brook, Education coach</cite>
      </blockquote>
    </li>
    <li class="testimonials__item">
      <blockquote class="testimonials__block">
        <q class="testimonials__quote text text--grey text--lineheight">I like to know that my extra income only depends on me and my efforts. I know the sum will be higher if I spend more time and all my diligence will be properly paid. This reseller program is the side job I really like!</q>
        <cite class="testimonials__author text text--grey text--lineheight text--semibold">Ryan Kim, Java developer</cite>
      </blockquote>
    </li>
  </ul>
</section>