<div class="overlay">
  <div class="modal modal--free-demo">
    <div class="modal__header modal__header--free-demo">
      <h2 class="modal__heading heading heading--medium">Download Free Demo of VCE Exam Simulator</h2>
    </div>

    <div class="modal__body modal__body--border-background">
      <h3 class="modal__text-title text text--grey">Experience Avanset VCE Exam Simulator for yourself.</h3>
      <p class="modal__text text text--grey">Simply submit your e-mail address below to get started with our interactive software demo of your free trial.</p>
      <ul class="modal__list list list--tick">
        <li class="list__item">Realistic exam simulation and exam editor with preview functions</li>
        <li class="list__item">Whole exam in a single file with several different question types</li>
        <li class="list__item">Customizable exam-taking mode & detailed score reports</li>
      </ul>
      <form id="modal-free-demo" class="modal__form form" action="#" method="POST">
        <p class="form__field-wrapper">
          <label class="form__label form__label--required" for="modal-email">Enter Your Email Address</label>
          <input id="modal-email" class="modal__form-field form__field form__field--primary" type="email" name="modal-email" required>
        </p>
      </form>
      <p class="modal__note text text--smaller text--grey">Free Demo Limits: In the demo version you will be able to access only first 5 questions from exam.</p>
    </div>

    <div class="modal__footer">
      <button form="modal-free-demo" class="button button--secondary" type="submit">DOWNLOAD DEMO</button>
    </div>

    <button class="modal__close button button--close" type="button">
      <span class="visually-hidden">Close modal</span>
      <span aria-hidden="true">×</span>
    </button>

    <button class="modal__close-bottom button show-0-480">Close</button>
  </div>
</div>