<div class="overlay">
  <div class="modal modal--steps">
    <div class="modal__header modal__header--steps">
      <h2 class="modal__heading heading heading--medium">How It Works</h2>
    </div>

    <div class="modal__body">
      <ol class="modal__steps steps steps--modal list">
        <li class="steps__item">
          <span class="steps__icon steps__icon--download"></span>
          <h3 class="steps__title heading">Choose Exam<br> on ExamLabs</h3>
          <p class="steps__text text text--grey">Download IT Exams<br> Questions & Answers</p>
        </li>
        <li class="steps__item">
          <span class="steps__icon steps__icon--gear"></span>
          <h3 class="steps__title heading">Open Exam with<br> Avanset Exam Simulator</h3>
          <p class="steps__text text text--grey">Press <a class="steps__link" href="https://www.avanset.com" target="_blank" rel="nofollow, noopener">here</a> to download VCE Exam Simulator that simulates real exam environment</p>
        </li>
        <li class="steps__item">
          <span class="steps__icon steps__icon--checkmark"></span>
          <h3 class="steps__title heading">Study<br> & Pass</h3>
          <p class="steps__text text text--grey">IT Exams<br> Anywhere, Anytime!</p>
        </li>
      </ol>
    </div>

    <button class="modal__close button button--close" type="button">
      <span class="visually-hidden">Close modal</span>
      <span aria-hidden="true">×</span>
    </button>

    <button class="modal__close-bottom button show-0-480">Close</button>
  </div>
</div>