<div class="overlay">
  <div class="modal modal--login">
    <div class="modal__header modal__header--transparent">
      <h2 class="modal__heading heading">Log into your Exam-Labs Account</h2>
    </div>

    <div class="modal__body">
      <section class="login login--modal">
        <h3 class="login__heading login__heading--grey">Please Log in to download VCE file or view Training Course</h3>
        <div class="login__container container">
          <form class="login__form form">
            <p class="login__item form__field-wrapper">
              <label class="form__label form__label--required" for="sign-in-email">Email</label>
              <input id="sign-in-email" class="form__field form__field--primary" type="email" name="email">
            </p>
            <p class="login__item login__item--no-mb form__field-wrapper">
              <label class="form__label form__label--required" for="sign-in-password">Password</label>
              <input id="sign-in-password" class="form__field form__field--primary" type="password" name="password">
            </p>
            <a class="login__help-link link link--semibold link--small link--grey" href="#">Forgot Password?</a>
            <button class="login__button button button--secondary" type="submit">Sign In</button>
          </form>
        </div>
      </section>
    </div>

    <div class="modal__footer modal__footer--border modal__footer--bigger-padding">
      <a class="link link--grey link--semibold link--small" href="#">Click Here to Register</a>
    </div>

    <button class="modal__close button button--close" type="button">
      <span class="visually-hidden">Close modal</span>
      <span aria-hidden="true">×</span>
    </button>
  </div>
</div>