<div class="overlay">
  <div class="modal modal--not-convinced">
    <div class="modal__header modal__header--transparent">
      <h2 class="modal__heading heading">Still Not Convinced?</h2>
    </div>

    <div class="modal__body modal__body--centeried">
      <p class="modal__text text text--grey text--center">
        Download 20 Sample Questions that you Will see in your
        <br>
        Microsoft 70-334 exam.
      </p>
      <a class="modal__link link link--grey link--semibold link--small" href="#">Download 20 Free Questions</a>
      <div class="modal__board">
        <p class="modal__text modal__text--secondary text text--dark-green text--center"><b>or</b> Guarantee your success by buying the full version which covers the full latest pool of questions. (123 Questions, Last Updated on May 24, 2020)</p>
        <form>
          <button class="modal__submit button button--secondary" type="submit">Buy Now</button>
        </form>
      </div>
    </div>

    <button class="modal__close button button--close" type="button">
      <span class="visually-hidden">Close modal</span>
      <span aria-hidden="true">×</span>
    </button>

    <button class="modal__close-bottom button show-0-480">Close</button>
  </div>
</div>