<div class="overlay">
  <div class="modal modal--products">
    <div class="modal__body">
      <div class="modal__separate">
        <div class="modal__image-container">
          <picture class="modal__image-wrapper">
            <img class="modal__image lazyload" data-src="images/dev/lab-qa-sg-box.png" data-srcset="images/dev/lab-qa-sg-box@2x.png 2x" alt="Product">
          </picture>
          <div class="modal__label">
            <span class="modal__label-text">You save</span>
            <span class="modal__label-percent">$19.28</span>
          </div>
        </div>
        <div class="modal__text-container">
          <h3 class="modal__heading heading">MB2-716 Premium Bundle</h3>
          <ul class="modal__list list list--tick">
            <li class="list__item">Premium File 99 Questions & Answers</li>
            <li class="list__item list__item--without-tick">Last Update: May 7, 2020</li>
            <li class="list__item">Training Course 117 Lectures</li>
          </ul>
        </div>
        <div class="modal__button-container">
          <span class="modal__new-price">$49.99</span>
          <span class="modal__old-price">$71.41</span>
          <a class="modal__button button button--secondary" href="">Add to Cart</a>
        </div>
      </div>
    </div>

    <div class="modal__footer">
      <h1 class="modal__heading heading">Purchase Individually</h1>
      <ul class="modal__product-list products list">
        <li class="products__item">
          <picture class="products__image-wrapper">
            <img class="products__image lazyload" src="images/dev/qa-box.png" srcset="images/dev/qa-box@2x.png 2x" alt="Product">
          </picture>
          <div class="products__text-wrapper">
            <h3 class="products__title heading">Premium File</h3>
            <p class="products__description">516 Questions & Answers</p>
            <div class="products__button-container">
              <span class="products__old-price">$57.13</span>
              <span class="products__new-price">$39.99</span>
              <form>
                <button class="button button--secondary button--secondary--cart" type="submit">
                  <span class="visually-hidden">Add to cart</span>
                  <svg class="button__icon" width="16" height="16" aria-hidden="true">
                    <use xlink:href="#inline-cart"></use>
                  </svg>
                </button>
              </form>
            </div>
          </div>
        </li>
        <li class="products__item">
          <picture class="products__image-wrapper">
            <img class="products__image lazyload" src="images/dev/lab-box.png" srcset="images/dev/lab-box@2x.png 2x" alt="Product">
          </picture>
          <div class="products__text-wrapper">
            <h3 class="products__title heading">Training Course</h3>
            <p class="products__description">103 Lectures</p>
            <div class="products__button-container">
              <a class="button button--secondary button--secondary--small" href="#">Download</a>
            </div>
          </div>
        </li>
        <li class="products__item">
          <picture class="products__image-wrapper">
            <img class="products__image lazyload" src="images/dev/sg-box.png" srcset="images/dev/sg-box@2x.png 2x" alt="Product">
          </picture>
          <div class="products__text-wrapper">
            <h3 class="products__title heading">Study Guide</h3>
            <p class="products__description">723 Pages</p>
            <div class="products__button-container">
              <span class="products__old-price">28.56</span>
              <span class="products__new-price">$19.99</span>
              <form>
                <button class="button button--secondary button--secondary--cart" type="submit">
                  <span class="visually-hidden">Add to cart</span>
                  <svg class="button__icon" width="16" height="16" aria-hidden="true">
                    <use xlink:href="#inline-cart"></use>
                  </svg>
                </button>
              </form>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <button class="modal__close button button--close" type="button">
      <span class="visually-hidden">Close modal</span>
      <span aria-hidden="true">×</span>
    </button>
  </div>
</div>