<div class="overlay overlay--video">
  <div class="modal modal--video">

    <div class="modal__body">
      <div class="modal__separate">
        <div class="modal__video">
          <video class="vplay" preload="auto" src="https://www.exam-labs.com/showvideo?vid=35035" type="video/mp4"></video>
        </div>
        <div class="modal__playlist-container">
          <div class="modal__playlist-header">
            <h3 class="modal__playlist-heading heading">1. AWS Private Link Architecture</h3>
            <span class="modal__playlist-amount text text--semibold text--grey text--small">7 Lectures</span>
          </div>
          <ul class="modal__playlist playlist list">
            <li class="playlist__item" data-vplay-src="https://www.exam-labs.com/showvideo?vid=35035">
              <button class="playlist__button button button--play" data-vplay-button><span class="visually-hidden">Play VPC Endpoints</span></button>
              <h4 class="playlist__title heading" data-vplay-button>VPC Endpoints</h4>
              <span class="playlist__time text text--grey text--small">12:56</span>
            </li>
            <li class="playlist__item" data-vplay-src="https://www.exam-labs.com/showvideo?vid=35036">
              <button class="playlist__button button button--play" data-vplay-button><span class="visually-hidden">Play VPC Endpoints - Architectural Perspective</span></button>
              <h4 class="playlist__title heading" data-vplay-button>VPC Endpoints - Architectural Perspective</h4>
              <span class="playlist__time text text--grey text--small">05:47</span>
            </li>
            <li class="playlist__item" data-vplay-src="https://www.exam-labs.com/showvideo?vid=35037">
              <button class="playlist__button button button--play" data-vplay-button><span class="visually-hidden">Play Gateway VPC Endpoints - Access Control</span></button>
              <h4 class="playlist__title heading" data-vplay-button>Gateway VPC Endpoints - Access Control</h4>
              <span class="playlist__time text text--grey text--small">05:56</span>
            </li>
            <li class="playlist__item" data-vplay-src="https://www.exam-labs.com/showvideo?vid=35038">
              <button class="playlist__button button button--play" data-vplay-button><span class="visually-hidden">Play Understanding Interface VPC Endpoints</span></button>
              <h4 class="playlist__title heading" data-vplay-button>Understanding Interface VPC Endpoints</h4>
              <span class="playlist__time text text--grey text--small">07:30</span>
            </li>
            <li class="playlist__item" data-vplay-src="https://www.exam-labs.com/showvideo?vid=35039">
              <button class="playlist__button button button--play" data-vplay-button><span class="visually-hidden">Play Implementing Interface Endpoints</span></button>
              <h4 class="playlist__title heading" data-vplay-button>Implementing Interface Endpoints</h4>
              <span class="playlist__time text text--grey text--small">07:12</span>
            </li>
            <li class="playlist__item" data-vplay-src="https://www.exam-labs.com/showvideo?vid=35040">
              <button class="playlist__button button button--play" data-vplay-button><span class="visually-hidden">Play Understanding VPC Endpoint Services</span></button>
              <h4 class="playlist__title heading" data-vplay-button>Understanding VPC Endpoint Services</h4>
              <span class="playlist__time text text--grey text--small">11:20</span>
            </li>
            <li class="playlist__item" data-vplay-src="https://www.exam-labs.com/showvideo?vid=35041">
              <button class="playlist__button button button--play" data-vplay-button><span class="visually-hidden">Play Implementing end to end VPC Endpoint service</span></button>
              <h4 class="playlist__title heading" data-vplay-button>Implementing end to end VPC Endpoint service</h4>
              <span class="playlist__time text text--grey text--small">9:46</span>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <button class="modal__close button button--close" type="button">
      <span class="visually-hidden">Close modal</span>
      <span aria-hidden="true">×</span>
    </button>

    <button class="modal__close-bottom button show-0-768">Close</button>
  </div>
</div>